remote_pdb==2.0.0
sanic==20.12.7
databases==0.3.2
alembic==1.4.2
asyncpg==0.20.1
psycopg2==2.8.5
sanic-session==0.7.3
aiohttp==3.6.2
pytest-sanic==1.6.1
pytest-mock==3.1.1
redis==3.5.3
mypy==0.780
sqlalchemy-stubs==0.3
pyjwt==1.0.0

git+git://github.com/gangashman/sanic-validation.git@master#egg=sanic-validation
